<div class="bg">

  <div class="row">
    <div class="column box-class">
      <a class="menu_links" onClick="clickMen(event)">
        <span><img class="img-responsive img-class" src="assets/images/mensFashion.jpg">
        </span>
        <label>Men</label>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="column box-class">
      <a routerLink="/">
        <span><img class="img-responsive img-class" src="assets/images/womenFashion.jpeg">
        </span>
        <label>Women</label>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="column box-class">
      <a routerLink="/">
        <span><img class="img-responsive img-class" src="assets/images/kidsFashion.jpg">
        </span>
        <label>Kids</label>
      </a>
    </div>
  </div>
</div>