.border{
        border: 1px solid transparent; 
        height: 100%
}

.text{
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price{
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
}