<div class="bg">
    <div class="padding">
        <input #query type="text" class="form-control" placeholder="Search...">
    </div>
    <div class="row">
        <div class="column box-class">
            <a routerLink="/fashion">
                <span><img class="img-responsive img-class" src="assets/images/clothes.jpg">
                </span>
                <label>Fashion</label>
            </a>
        </div>
        <div class="column box-class">
            <a routerLink="/electronics">
                <span><img class="img-responsive img-class" src="assets/images/electronics.jpeg">
                </span>
                <label>Electronics</label>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="column box-class">
            <a routerLink="/home">
                <span><img class="img-responsive img-class" src="assets/images/home.jpg">
                </span>
                <label>Home</label>
            </a>
        </div>
        <div class="column box-class">
            <a routerLink="/offers">
                <span><img class="img-responsive img-class" src="assets/images/offers.jpg">
                </span>
                <label>Offers</label>
            </a>
        </div>
    </div>
</div>