<div>
  <div class="col">
    <div class="row">
      <div style="width:100%;">
        <app-sort-filter (notifyParent)="getNotification($event)"></app-sort-filter>
      </div>
      <ng-container *ngFor="let p of products; let i = index">
        <div class="col border" (click)="productSelect(p.name)">
          <span><img style="width:150px; height: 200px;" class="img-responsive" src={{p.imageURL}}></span>
          <div class="text">
            {{ (p.name.length>10)? (p.name | slice:0:20)+'..':(p.name) }}
          </div>
          <div class="price">
            ₹{{p.price}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>