<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
      <button type="button" (click)="backClicked()" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <label>Filters</label>
  </div>
</nav>
  <ul class="list-group">
    <a (click)="hideShow()">
        <li class="text-bold list-group-item d-flex justify-content-between align-items-center">
            Category 
            <img class="img img-responsive" src="assets/images/chevron-down.png">  
          </li>
    </a>
  
    <ng-container *ngIf="setBoolean">
      <ul *ngFor="let category of categoryList" class="list-group">
        <a (click)="categorySelect(value)">  
          <li name="list" value="{{category}}" class="list-group-item d-flex justify-content-between align-items-center">
            {{category}}
          </li>
        </a>
      </ul>
    </ng-container>
    
    <li class="text-bold list-group-item d-flex justify-content-between align-items-center">
      Size
      <img class="img img-responsive" src="assets/images/chevron-down.png">
    </li>
  </ul>
  
  <!-- Footer -->
  <footer class="page-footer font-small blue fixed-bottom">
    <div class="row borderStyle">
      <div class="results col-3">
        <span>{{setResults}} results</span>
      </div>
      <button type="button" (click)="backClicked()" class="btn btn-link">Cancel</button>
      <button type="button" class="btn btn1 btn-warning btn-sm">Apply</button>
    </div>
  </footer>



