
<ul class="list-group">
  <a (click)="hideShow()">
      <li class="text-bold list-group-item d-flex justify-content-between align-items-center">
          Category 
          <img class="img img-responsive" src="assets/images/chevron-right.png">  
        </li>
  </a>

  <ul *ngIf="setBoolean" class="list-group">
    <a>
        <li class="text-bold list-group-item d-flex justify-content-between align-items-center">
            TEST page
          </li>
          <li class="text-bold list-group-item d-flex justify-content-between align-items-center">
            test page
          </li>
    </a>
    </ul>
  
  <li class="text-bold list-group-item d-flex justify-content-between align-items-center">
    Size
    <img class="img img-responsive" src="assets/images/chevron-right.png">
  </li>
</ul>

<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">
  <div class="row">
    <div class="results col-6">
      <span>Results</span>
    </div>
    <button type="button" class="btn btn-warning btn-sm">button2</button>
  </div>
</footer>
<!-- Footer -->



