.img{
    width:10px; 
    height: 15px;
}

.text-bold{
    font-weight: bold;
}

.navbar{
    display: none;
}

#hideDisplay{
    display: none !important;
}

.results{
    margin: 5%;
}

.borderStyle{
    border-top: 1px solid rgba(0,0,0,0.5);;
}

.btn1{
    margin:4%;
    background: rgb(251, 100, 27);
    width: 30%;
    box-shadow: none;
    color: white;
    float: right;
}

.close{
    float: left;
}